loki:
  deploymentMode: SingleBinary

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
  
  singleBinary:
    replicas: 1

  # make sure distributed components are off
  write:
    replicas: 0
  read:
    replicas: 0
  backend:
    replicas: 0

  persistence:
    enabled: true
    size: 5Gi