loki:
  deploymentMode: SingleBinary

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem

  singleBinary:
    replicas: 1

  # make sure distributed components are off
  write:
    replicas: 0
  read:
    replicas: 0
  backend:
    replicas: 0

  persistence:
    enabled: true
    size: 5Gi